body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
}

.stock {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
}

.section-title {
  font-family: Roboto;
  font-size: xxx-large;
  padding: 0px;
  margin: 0px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
}

.logout {
  width: 25px;
  height: 25px;
}

/* Filter container */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.filter-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.filter-btn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px; /* Ajusta el tamaño del botón según sea necesario */
}

.filter-btn:hover {
  background-color: #45a049;
}

/* Estilos para la tabla */
.table-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 25px auto;
}

.table-wrapper {
  flex: 0 0 calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.titleProductName-column {
  width: 250px;
  background-color: #dbd8d8;
  text-align: center;
}

.productName-column {
  width: 250px;
  background-color: #dbd8d8;
}

.titleBarcode-column {
  width: 250px;
  background-color: #dbd8d8;
  text-align: center;
}

.units-column {
  width: 80px;
  text-align: center;
  background-color: #dbd8d8;
}

.low-units {
  background-color: yellow;
}

.barcode-column {
  width: 250px;
  text-align: center;
  font-weight: bold;
}

@media print {
  .no-print {
    display: none;
  }
}
